   
    <main>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
        <div class="button-row">
            <button id="checkoutbtn" class="btn " ><div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Checkout</h5>
        <p class="card-text">Checkout tools </p>
    </div>
</div>
</button>
            <button id="returnbtn" class="btn"><div class="card" style="width: 18rem;"> 
    <div class="card-body">
        <h5 class="card-title">Return</h5>
        <p class="card-text">Return the tools</p>
    </div>
</div></button>
        </div>
    </main>
    <div class="clear"></div>
    
<!-- <table id="" class="table table-hover table-dark"> -->
<!--     <thead> -->
<!--         <tr> -->
<!--             <th scope="col">#</th> -->
<!--             <th scope="col">First</th> -->
<!--             <th scope="col">Last</th> -->
<!--             <th scope="col">Handle</th> -->
<!--         </tr> -->
<!--     </thead> -->
<!--     <tbody> -->
<!--         <tr> -->
<!--             <th scope="row">1</th> -->
<!--             <td>Mark</td> -->
<!--             <td>Otto</td> -->
<!--             <td>@mdo</td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <th scope="row">2</th> -->
<!--             <td>Jacob</td> -->
<!--             <td>Thornton</td> -->
<!--             <td>@fat</td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <th scope="row">3</th> -->
<!--             <td colspan="2">Larry the Bird</td> -->
<!--             <td>@twitter</td> -->
<!--         </tr> -->
<!--     </tbody> -->
<!-- </table> -->
