   
<main>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
    <div class="button-row">
        <button id="inventory" class="btn ">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Inventory</h5>
                    <p class="card-text">See All Equipment </p>
                </div>
            </div>
        </button>
        <button id="reports" class="btn">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>
                    <p class="card-text">Get Reports</p>
                </div>
            </div>
        </button>
    </div>
    <div class="button-row">
        <button id="checkoutbtn" class="btn ">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Checkout</h5>
                    <p class="card-text">Checkout tools </p>
                </div>
            </div>
        </button>
        <button id="returnbtn" class="btn">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Return</h5>
                    <p class="card-text">Return the tools</p>
                </div>
            </div>
        </button>
    </div>
</main>
    <div class="clear"></div>
    
