<h1>Inventory of all equipment</h1>
<style>
    tr {
        position: relative;
    }

  /*   td:last-child {
        display: flex;
        justify-content: end;
    } */
</style>

<table class="table table-hover table-striped" style="position:relative">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Checkout Date</th>
            <th scope="col">ReturnDue Date</th>
            <th scope="col">Assigned Employee</th>


            <!-- <th style="margin-left:10%" scope="col"></th> -->
        </tr>
    </thead>
    <tbody id="checkouttable">

    </tbody>
</table>
