<div class="form-floating">
    <select class="form-select" id="employeedropdown" aria-label="Floating label select example">
        <option value="default" >Open this select menu</option>
        <!-- <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option> -->
    </select>
    <label for="employeedropdown">What employee would you like a report</label>
</div>


<div style="height: 100px !important;" class="chart-container">
    <canvas id="myChart"></canvas>
    <canvas id="bargraph"></canvas>
    <!-- <canvas id="circlegraph"></canvas> -->

</div>
<!-- <div class="chart-container">
    <canvas id="circlegraph"></canvas>
</div> -->