<h1>Equipment You have to Return</h1>
<style>
    tr {
        position: relative;
    }

    td:last-child {
        display: flex;
        justify-content: end;
    }
</style>
<table class="table w-50 table-hover table-striped" style="position:relative">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

            <th style="margin-left:10%" scope="col"></th>
        </tr>
    </thead>
    <tbody id="checkouttable">
        
    </tbody>
</table>
