<h1>Equipment You have to Return</h1>
<style>
    tr {
        position: relative;
    }

    td:last-child {
        display: flex;
        justify-content: end;
    }
</style>
<table class="table w-50 table-hover table-striped" style="position:relative">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

            <th style="margin-left:10%" scope="col"></th>
        </tr>
    </thead>
    <tbody id="checkouttable">
        <!-- <tr>
            <th scope="row">1</th>
            <td>Mark</td>

            <td style=""><button class="btn  btn-primary" type="button">Checkout</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>

            <td class="" style=""><button class="btn btn-primary" type="button">Checkout</button></td>
        </tr> -->
        <!-- <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr> -->
    </tbody>
</table>
